<!-- initial header -->
<header class="ip-header">
  <div class="ip-loader">
    <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
      <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
      <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
    </svg>
  </div>
</header>

<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<!-- <div id="notify" class="zoom-anim-dialog main_animated mfp-hide">
  <div class="bords">
    <p class="anim_3">Please enjoy <br> the atmosphere <i class="fa fa-smile-o" aria-hidden="true"></i></p>
  </div>
</div> -->

<div class="alert-element">
  <div class="icon"><i class="fa fa-bell-o" aria-hidden="true"></i></div>
  <div class="text"><span>Please enjoy the atmosphere <i class="fa fa-smile-o" aria-hidden="true"></i></span></div>
</div>
